body {
	font-size: 16px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

code, kbd, pre, samp {
	font-family: 'Ubuntu Mono', Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
		color: black;
}

.subtitle {
	margin-top: 5px;
	color: rgba(0,0,0,.7);
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 0.5em;
	font-style: italic;
}

time {
	color: rgba(0,0,0,.7);
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	font-size: 0.8em;
}

span.category {
	color: rgba(0,0,0,.7);
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 0.8em;
}

figure {
	display: block;
	margin: 1em auto;
	width: 100%;
}

figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	text-align: center;
	color: rgba(0,0,0,.7);
}

h1, h2, h3, h4 {
	color: #29292c;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
	font-weight: 500;
	font-size: 1.5em;
}

h2 {
	font-weight: 500;
	font-size: 1.2em;
}

h3 {
	font-weight: 500;
	font-size: 1.3em;
}

a {
	color: #d9230f;
}

a:hover {
	text-decoration: none;
}

body {
	background-color: white;
}

p a {
	color: #000000;
	text-decoration: none;
	border-bottom: .5px solid grey;
}

.left {
	display: inline-block;
    position: absolute;
    left: 0px;
    padding: 10px;
}

.right {
	display: inline-block;
    position: absolute;
    right: 0px;
    padding: 10px;
}

.article p, .article ul li, .article p a, .article ol li {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.9;
    color: rgba(0,0,0,.8);
    margin: 0 0 0.8em;
}

.my-list-style {
    margin-left: 0;
}

iframe, .iframe-class {
	margin: 1em 0;
}

.aw-bottom {
    padding: 2em 2em 0.1em 2em;
}

.aw-footer {
    margin-top: 2em;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    padding-top: 2em;
    padding-bottom: 2em;
}

.aw-footer li {
    line-height: 200%;
}

.page-header {
	margin-bottom: 10px;
}

hr {
	margin-top: 40px;
	margin-bottom: 40px;
}

.summary {
    margin-top: 1em;
    color: black;
}

.summary pre { display: none; }

.article-body {
	border-top: 1px solid #f0f0f2;
    margin-top: 1em;
    padding-top: 1em;
    color: black;
}

.article-title {
    margin-bottom: 1em;
}

.article-header {
    margin-bottom: 1em;
}

/**
 * Overrides of notebook CSS for static HTML export
**/
div.entry-content {
	overflow: visible;
	padding: 8px;
}

.inner_cell {
	width: 100%;
}

.input_area {
	padding: 0.2em;
}

a.heading-anchor {
	white-space: normal;
}

.rendered_html code {
	font-size: .8em;
}

pre.ipynb {
	color: black;
	background: #f7f7f7;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
	padding: 0;
	margin: 0px;
	font-size: 13px;
}

/* remove the prompt div from text cells */
.prompt {
	display: none;
}

/* remove horizontal padding from text cells, */
/* so it aligns with outer body text */
div.text_cell_render {
	padding: 0.5em 0em;
}

img.anim_icon {
	padding: 0;
	border: 0;
	vertical-align: middle;
	-webkit-box-shadow: none;
	-box-shadow: none;
}

div.collapseheader {
	width: 100%;
	background-c
	olor: #d3d3d3;
	padding: 2px;
	cursor: pointer;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
